<div class="row">
  <div class="card col-5 m-4 center" *ngFor="let pr of data">
      <div class="card-body p-2">

        <h5 class="card-title p-2">AssignmentId:{{pr.AssignmentId}}</h5>
        <h5 class="card-text p-2">ProjectId:{{pr.ProjectId}}</h5>
        <h5 class="card-text p-2">AssignedTo:{{pr.AssignedTo}}</h5>
        <a routerLink="/tasks/{{pr.AssignmentId}}" class="btn btn-primary m-2">View More</a>
        <a (click)="delete(pr.AssignmentId)" class="btn btn-danger">Delete</a>
      </div>
    </div>
</div>
